body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u122 {
  position:absolute;
  left:200px;
  top:100px;
  width:375px;
  height:667px;
}
#u123 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u124 {
  position:absolute;
  left:200px;
  top:100px;
  width:375px;
  height:64px;
  color:#D7D7D7;
}
#u125 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u127 {
  position:absolute;
  left:200px;
  top:100px;
  width:375px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u128 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u129 {
  position:absolute;
  left:541px;
  top:103px;
  width:28px;
  height:13px;
}
#u130 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u132 {
  position:absolute;
  left:203px;
  top:107px;
  width:5px;
  height:5px;
}
#u133 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u134 {
  position:absolute;
  left:210px;
  top:107px;
  width:5px;
  height:5px;
}
#u135 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u136 {
  position:absolute;
  left:216px;
  top:107px;
  width:5px;
  height:5px;
}
#u137 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u138 {
  position:absolute;
  left:222px;
  top:107px;
  width:5px;
  height:5px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u140 {
  position:absolute;
  left:229px;
  top:107px;
  width:5px;
  height:5px;
}
#u141 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u142 {
  position:absolute;
  left:267px;
  top:105px;
  width:13px;
  height:9px;
}
#u143 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  background:inherit;
  background-color:rgba(199, 199, 199, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:center;
}
#u144 {
  position:absolute;
  left:505px;
  top:103px;
  width:40px;
  height:13px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:center;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
  background:inherit;
  background-color:rgba(199, 199, 199, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:center;
}
#u146 {
  position:absolute;
  left:236px;
  top:103px;
  width:30px;
  height:13px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:center;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u150 {
  position:absolute;
  left:2px;
  top:14px;
  width:1196px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u151 {
  position:absolute;
  left:33px;
  top:24px;
  width:78px;
  height:15px;
  font-size:13px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u153 {
  position:absolute;
  left:1055px;
  top:19px;
  width:69px;
  height:15px;
  font-size:13px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u156 {
  position:absolute;
  left:200px;
  top:710px;
  width:375px;
  height:57px;
  color:#D7D7D7;
}
#u157 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-size:15px;
}
#u158 {
  position:absolute;
  left:214px;
  top:585px;
  width:346px;
  height:55px;
  font-size:15px;
}
#u159 {
  position:absolute;
  left:2px;
  top:18px;
  width:342px;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:75px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-size:15px;
}
#u160 {
  position:absolute;
  left:214px;
  top:499px;
  width:346px;
  height:75px;
  font-size:15px;
}
#u161 {
  position:absolute;
  left:2px;
  top:28px;
  width:342px;
  word-wrap:break-word;
}
#u160_ann {
  position:absolute;
  left:553px;
  top:495px;
  width:1px;
  height:1px;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 3px rgba(0, 0, 0, 0.349019607843137);
  font-size:15px;
}
#u162 {
  position:absolute;
  left:214px;
  top:645px;
  width:346px;
  height:55px;
  font-size:15px;
}
#u163 {
  position:absolute;
  left:2px;
  top:18px;
  width:342px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
}
#u164 {
  position:absolute;
  left:326px;
  top:128px;
  width:121px;
  height:24px;
}
#u165 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:203px;
  top:165px;
}
#u166_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u166_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:328px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:327px;
}
#u168 {
  position:absolute;
  left:2px;
  top:148px;
  width:366px;
  word-wrap:break-word;
}
#u166_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u166_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:328px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:327px;
}
#u170 {
  position:absolute;
  left:2px;
  top:148px;
  width:366px;
  word-wrap:break-word;
}
#u166_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u166_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:328px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:327px;
}
#u172 {
  position:absolute;
  left:2px;
  top:148px;
  width:366px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u174 {
  position:absolute;
  left:353px;
  top:454px;
  width:14px;
  height:14px;
}
#u174_img.selected {
}
#u174.selected {
}
#u175 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u176 {
  position:absolute;
  left:381px;
  top:454px;
  width:14px;
  height:14px;
}
#u176_img.selected {
}
#u176.selected {
}
#u177 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u178 {
  position:absolute;
  left:409px;
  top:454px;
  width:14px;
  height:14px;
}
#u178_img.selected {
}
#u178.selected {
}
#u179 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u181 {
  position:absolute;
  left:200px;
  top:710px;
  width:94px;
  height:57px;
  color:#5E5E5E;
}
#u182 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u184 {
  position:absolute;
  left:200px;
  top:710px;
  width:375px;
  height:57px;
  color:#D7D7D7;
}
#u185 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u186 {
  position:absolute;
  left:294px;
  top:710px;
  width:94px;
  height:57px;
  color:#D7D7D7;
}
#u187 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u188 {
  position:absolute;
  left:388px;
  top:710px;
  width:94px;
  height:57px;
  color:#D7D7D7;
}
#u189 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u190 {
  position:absolute;
  left:481px;
  top:710px;
  width:94px;
  height:57px;
  color:#D7D7D7;
}
#u191 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u192 {
  position:absolute;
  left:200px;
  top:710px;
  width:94px;
  height:57px;
  color:#D7D7D7;
}
#u193 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u194 {
  position:absolute;
  left:236px;
  top:719px;
  width:21px;
  height:23px;
}
#u195 {
  position:absolute;
  left:2px;
  top:4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u196 {
  position:absolute;
  left:235px;
  top:744px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u198 {
  position:absolute;
  left:425px;
  top:719px;
  width:23px;
  height:23px;
}
#u199 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u200 {
  position:absolute;
  left:516px;
  top:719px;
  width:23px;
  height:23px;
}
#u201 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u202 {
  position:absolute;
  left:425px;
  top:744px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u204 {
  position:absolute;
  left:329px;
  top:744px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u206 {
  position:absolute;
  left:516px;
  top:744px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u208 {
  position:absolute;
  left:328px;
  top:720px;
  width:23px;
  height:20px;
}
#u209 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u211 {
  position:absolute;
  left:294px;
  top:710px;
  width:94px;
  height:57px;
  color:#D7D7D7;
}
#u212 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u213 {
  position:absolute;
  left:388px;
  top:710px;
  width:94px;
  height:57px;
  color:#D7D7D7;
}
#u214 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u215 {
  position:absolute;
  left:481px;
  top:710px;
  width:94px;
  height:57px;
  color:#D7D7D7;
}
#u216 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u217 {
  position:absolute;
  left:200px;
  top:710px;
  width:94px;
  height:57px;
  color:#D7D7D7;
}
#u218 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u220 {
  position:absolute;
  left:441px;
  top:716px;
  width:15px;
  height:15px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u221 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:2px;
}
#u223 {
  position:absolute;
  left:551px;
  top:527px;
  width:110px;
  height:1px;
  color:#CC0000;
}
#u224 {
  position:absolute;
  left:2px;
  top:-8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CC0000;
  line-height:16px;
}
#u225 {
  position:absolute;
  left:661px;
  top:516px;
  width:288px;
  height:80px;
  font-size:12px;
  color:#CC0000;
  line-height:16px;
}
#u226 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0000;
  text-align:center;
}
#u227 {
  position:absolute;
  left:1131px;
  top:16px;
  width:63px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0000;
  text-align:center;
}
#u228 {
  position:absolute;
  left:0px;
  top:-2px;
  width:63px;
  white-space:nowrap;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u229 {
  position:absolute;
  left:33px;
  top:6px;
  width:89px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
