body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:200px;
  top:100px;
  width:375px;
  height:667px;
}
#u688 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u689 {
  position:absolute;
  left:200px;
  top:100px;
  width:375px;
  height:64px;
  color:#D7D7D7;
}
#u690 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u692 {
  position:absolute;
  left:200px;
  top:100px;
  width:375px;
  height:20px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u693 {
  position:absolute;
  left:2px;
  top:3px;
  width:371px;
  word-wrap:break-word;
}
#u694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u694 {
  position:absolute;
  left:541px;
  top:103px;
  width:28px;
  height:13px;
}
#u695 {
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u697 {
  position:absolute;
  left:203px;
  top:107px;
  width:5px;
  height:5px;
}
#u698 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u699 {
  position:absolute;
  left:210px;
  top:107px;
  width:5px;
  height:5px;
}
#u700 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u701 {
  position:absolute;
  left:216px;
  top:107px;
  width:5px;
  height:5px;
}
#u702 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u703 {
  position:absolute;
  left:222px;
  top:107px;
  width:5px;
  height:5px;
}
#u704 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u705 {
  position:absolute;
  left:229px;
  top:107px;
  width:5px;
  height:5px;
}
#u706 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u707 {
  position:absolute;
  left:267px;
  top:105px;
  width:13px;
  height:9px;
}
#u708 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  background:inherit;
  background-color:rgba(199, 199, 199, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:center;
}
#u709 {
  position:absolute;
  left:505px;
  top:103px;
  width:40px;
  height:13px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:center;
}
#u710 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
  background:inherit;
  background-color:rgba(199, 199, 199, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:center;
}
#u711 {
  position:absolute;
  left:236px;
  top:103px;
  width:30px;
  height:13px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#1E1E1E;
  text-align:center;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u714 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u715 {
  position:absolute;
  left:2px;
  top:14px;
  width:1196px;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u716 {
  position:absolute;
  left:33px;
  top:24px;
  width:78px;
  height:15px;
  font-size:13px;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u718 {
  position:absolute;
  left:1055px;
  top:19px;
  width:69px;
  height:15px;
  font-size:13px;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:234px;
  top:134px;
  width:30px;
  height:18px;
}
#u722 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u723 {
  position:absolute;
  left:212px;
  top:131px;
  width:25px;
  height:25px;
}
#u724 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  position:absolute;
  left:227px;
  top:278px;
  width:329px;
  height:287px;
}
#u726 {
  position:absolute;
  left:2px;
  top:136px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727 {
  position:absolute;
  left:237px;
  top:284px;
  width:310px;
  height:267px;
}
#u727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:267px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  position:absolute;
  left:306px;
  top:212px;
  width:85px;
  height:22px;
}
#u729 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  position:absolute;
  left:246px;
  top:252px;
  width:73px;
  height:18px;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u732 {
  position:absolute;
  left:401px;
  top:212px;
  width:76px;
  height:22px;
}
#u732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u732_input:disabled {
  color:grayText;
}
#u733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u733 {
  position:absolute;
  left:511px;
  top:132px;
  width:40px;
  height:20px;
  font-size:16px;
}
#u734 {
  position:absolute;
  left:2px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u733_ann {
  position:absolute;
  left:544px;
  top:128px;
  width:1px;
  height:1px;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u736 {
  position:absolute;
  left:201px;
  top:710px;
  width:375px;
  height:57px;
  color:#D7D7D7;
}
#u737 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u738 {
  position:absolute;
  left:257px;
  top:724px;
  width:263px;
  height:35px;
  font-size:15px;
}
#u739 {
  position:absolute;
  left:2px;
  top:8px;
  width:259px;
  word-wrap:break-word;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:2px;
}
#u741 {
  position:absolute;
  left:561px;
  top:142px;
  width:110px;
  height:1px;
  color:#CC0000;
}
#u742 {
  position:absolute;
  left:2px;
  top:-8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:16px;
}
#u743 {
  position:absolute;
  left:671px;
  top:131px;
  width:288px;
  height:112px;
  font-size:12px;
  line-height:16px;
}
#u744 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:39px;
}
#u746p000 {
  position:absolute;
  left:-1px;
  top:36px;
  width:46px;
  height:3px;
  -webkit-transform:rotate(-1deg);
  -moz-transform:rotate(-1deg);
  -ms-transform:rotate(-1deg);
  transform:rotate(-1deg);
}
#u746p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:48px;
  height:6px;
}
#u746p001 {
  position:absolute;
  left:25px;
  top:17px;
  width:39px;
  height:3px;
  -webkit-transform:rotate(-87deg);
  -moz-transform:rotate(-87deg);
  -ms-transform:rotate(-87deg);
  transform:rotate(-87deg);
}
#u746p001_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:42px;
  height:4px;
}
#u746p002 {
  position:absolute;
  left:44px;
  top:-1px;
  width:69px;
  height:2px;
}
#u746p002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:4px;
}
#u746.compound {
  width:0px;
  height:0px;
}
#u746 {
  position:absolute;
  left:558px;
  top:699px;
  width:113px;
  height:38px;
  color:#CC0000;
}
#u747 {
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CC0000;
  line-height:16px;
}
#u748 {
  position:absolute;
  left:671px;
  top:599px;
  width:288px;
  height:160px;
  font-size:12px;
  color:#CC0000;
  line-height:16px;
}
#u749 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0000;
  text-align:center;
}
#u750 {
  position:absolute;
  left:1131px;
  top:16px;
  width:63px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CC0000;
  text-align:center;
}
#u751 {
  position:absolute;
  left:0px;
  top:-2px;
  width:63px;
  white-space:nowrap;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u752 {
  position:absolute;
  left:33px;
  top:6px;
  width:86px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
